{{define "bottom"}}   </main>
    <footer>
      <ul>
        <li><a href="https://linkedin.com/in/igolt">LinkedIn</a></li>
        <li><a href="https://github.com/igolt">GitHub</a></li>
      </ul>
    </footer>
  </body>
</html>{{end}}
