{{define "top"}}<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My amazing blog!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav role="navigation">
      <div>
        <h1>Budding Gopher's blog</h1>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/archive">Archive</a></li>
        </ul>
      </div>
    </nav>
    <main>{{end}}
